a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
	i.bi.bi-bar-chart-line.me-2(style='font-size:40px;')
	span.fs-4 ProPhet
hr
ul.nav.nav-pills.flex-column.mb-auto
	li.nav-item
		a.nav-link.link-dark(href='#')
			i.bi-house.me-2
			|  Home
	li
		a.nav-link.active(href='#' aria-current='page')
			i.bi-speedometer2.me-2
			|  Dashboard
	li
		a.nav-link.link-dark(href='#')
			i.bi-gear.me-2
			|  Settings
	li
		a.nav-link.link-dark(href='#')
			i.bi-book.me-2
			|  Help
	li
		a.nav-link.link-dark(href='#')
			i.bi-telephone.me-2
			|  Contact
hr
.dropdown
	a#dropdownUser2.d-flex.align-items-center.link-dark.text-decoration-none.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false')
		img.rounded-circle.me-2(src='https://avatars.githubusercontent.com/u/52123562?v=4' alt='' width='32' height='32')
		strong D. N. Nguyen
	ul.dropdown-menu.text-small.shadow(aria-labelledby='dropdownUser2')
		li
			a.dropdown-item(href='#') New project...
		li
			a.dropdown-item(href='#') Settings
		li
			a.dropdown-item(href='#') Profile
		li
			hr.dropdown-divider
		li
			a.dropdown-item(href='#') Sign out