doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://cdn.jsdelivr.net/npm/chart.js")
		script(src="https://cdn.socket.io/4.7.4/socket.io.min.js")

	body
		#container
			canvas#myChart
		block content

		script.
			const ctx = document.getElementById('myChart');
			const socket = io();
			socket.on('devData', (dataserie) => {
				console.log(dataserie);
				
				new Chart(ctx, {
					type: 'line',
					data: dataserie,
					options: {
						scales: {
							y: {
								beginAtZero: true
							}
						}
					}
				});

			});


