doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		include ../inc/common
.d-flex.flex-row.justify-content-center
	form.d-2(method='post' action='login')
		h1.row.mb-5 LOGIN
		.row.form-group.mt-3
			input#exampleInputEmail1.form-control(name='username' type='text' placeholder='Username')
		.row.form-group.mt-3
			input#exampleInputPassword1.form-control(name='password' type='password' placeholder='Password')
		.row.mt-5
			button.btn.btn-primary(type='submit') Login