//- Utilities for every charts

script(src="https://cdn.jsdelivr.net/npm/chart.js")
script(src="https://cdn.socket.io/4.7.4/socket.io.min.js")
script(src="https://cdn.jsdelivr.net/npm/chart.js")

script(src="https://cdn.jsdelivr.net/npm/luxon@^2")
script(src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1")

script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
	integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
	crossorigin="anonymous" referrerpolicy="no-referrer")
script(src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"
	integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer")
script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js")
